<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>

        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="junit" target="phpunit/reports/junit.xml"/>
        <log type="coverage-html" target="phpunit/coverage/html"/>
        <log type="coverage-text" target="phpunit/coverage/text.txt"/>
        <log type="coverage-clover" target="phpunit/coverage/clover.xml"/>
    </logging>

    <php>
        <env name="MEMCACHED_HOST" value="memcached"/>
        <env name="MEMCACHED_PORT" value="11211"/>
        <env name="REDIS_HOST" value="redis"/>
        <env name="REDIS_PORT" value="6379"/>
    </php>
</phpunit>
