<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
         processIsolation="false"
         stopOnFailure="false"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>

        <report>
            <clover outputFile="phpunit/coverage/clover.xml"/>
            <html outputDirectory="phpunit/coverage/html"/>
            <text outputFile="phpunit/coverage/text.txt"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="phpunit/reports/junit.xml"/>
    </logging>

    <testsuites>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="MEMCACHED_HOST" value="memcached"/>
        <env name="MEMCACHED_PORT" value="11211"/>
        <env name="REDIS_HOST" value="redis"/>
        <env name="REDIS_PORT" value="6379"/>
    </php>
</phpunit>
